<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/style.css?v=1}" rel="stylesheet">
  <meta charset="UTF-8">
  <title th:text="${productByID.title}"></title>
</head>

<body>

<!--<div th:replace="~{fragments/header :: header}"></div>-->

<main>
  <h2>Information</h2>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Manufacturer</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${productByID.title}"></td>
      <td th:text="${productByID.manufacturer}"></td>
      <td th:text="${productByID.price}"></td>
      <td th:text="${productByID.pathToImage}"></td>

      <td><a th:href="@{'/user/products/' + ${productByID.ID} + '/update'}">Update Product</a></td>
    </tr>
    </tbody>
  </table>
  <form th:action="@{/user/products/{id}/delete(id=${productByID.ID})}" method="post">
    <button type="submit">Delete Product</button>
  </form>


  <a th:href="'/user/products'">Return to Overview of Products</a>
</main>

<!--<div th:replace="~{fragments/footer :: footer}"></div>-->

</body>
</html>