<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css?v=1}" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${wishlistById.title}"></title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1 th:text="'Update ' + ${wishlistById.title}"></h1>
    <form th:action="@{/wishlist/update}" th:object="${wishlistById}"  method="post">
        <fieldset>
            <label for="title">Title</label>
            <input id="title" th:field="*{title}" th:value="${title}">

            <label for="heldOn">Event Date</label>
            <input id="heldOn" th:field="*{heldOn}" th:value="${heldOn}">

            <label for="products">Produkter</label>
            <select name="products" id="products" th:field="*{products}">
                <option value="">--Vælg venligst--</option>
                <option th:each="type : ${products}" th:value="${type}" th:text="${type}"></option>
            </select>


            <button type="submit">Save Changes</button>
            <a th:href="@{'/user/' + ${user.id}}">Cancel</a>
        </fieldset>
    </form>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>